<div class="row">
	<div class="col-sm-4">
		<%= render 'user_card' %>
	</div>
	<div class="col-sm-8">
		<!-- render tabs -->
		<%= render 'tabs' %>
		<!-- render questions --> 
		<div class="mb-4">
	    <% @answers.each do |a| %> 
	      <div style="border-top: 1px solid #d1d1d1">
					<span><%= a.created_at %></span>
					<% if a.goods.count > 0 %>
						<span class="float-right mt-1 badge badge-info">いいね<%= Good.where(answer_id: a.id).count %></span> 
					<% end %>
	        <div style="overflow: hidden" class="mb-3"><a href="<%= question_path(a.question_id) %>" style=" white-space: nowrap;"><%= a.content %></a></div>
	      </div>
	    <% end %>
		</div>
		<%= paginate @answers %>
	</div>
</div>
