<div class="row">
	<div class="col-sm-4">
		<%= render 'user_card' %>
	</div>
	<div class="col-sm-8">
		<!-- render tabs -->
		<%= render 'tabs' %>
		<!-- render questions --> 
		<div class="mb-4">
	    <% @questions.each do |q| %> 
	      <div style="border-top: 1px solid #d1d1d1">
					<span><%= q.created_at %></span>
					<span class="float-right mt-1 badge <%= q.answers.count > 0 ? 'badge-primary' : 'badge-danger' %>"><%= q.answers.count > 0 ? '回答' + q.answers.count.to_s : '未回答' %></span> 
	        <div style="overflow: hidden" class="mb-3"><a href="<%= question_path(q.id) %>" style="white-space: nowrap"><%= q.content %></a></div>
	      </div>
	    <% end %>
		</div>
		<%= paginate @questions %>
	</div>
</div>
