<% if logged_in? %>
	<div class="text-left mb-4" style="display: flex">
		<div class="col-sm-3">
			<%= link_to '質問する', questions_new_path, class: 'btn btn-info btn-sm-lg' %>
		</div>
		<div class="col-sm-9 float-right">
			<span><%= render 'layouts/search_form' %></span>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<!-- render sidebar -->
			<%= render 'layouts/sidebar' %>
			<!-------------------->
		</div>
		<div class="col-sm-9">
			<h3 class="mb-4">QA</h3>
			<!-- render questions -->
			<div class="mb-4">
				<% @questions.each do |q| %>
					<div style="border-top: 1px solid #d1d1d1;">
						<span class="badge badge-secondary"><%= q.tag %></span><span class="float-right mt-1 <%= q.answers.count > 0 ? 'badge badge-primary' : 'badge badge-danger' %>"><%= q.answers.count > 0 ? '回答' + q.answers.count.to_s : '未回答' %></span>
						<div style="overflow: hidden"><%= link_to q.content, question_path(q.id), style: 'overflow: hidden; text-overflow: ellipsis; white-space: nowrap' %></div>
					</div>
				<% end %>
			</div>
			<!-------------------->
			<%= paginate @questions %>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<div class="text-center">
			<h1>質問掲示板</h1>
		</div>
	</div>
	<div class="text-center">
		<%= link_to 'アカウント登録', signup_path, class: 'mr-4 btn btn-primary' %>
		<%= link_to 'ログイン', login_path,  class: 'btn btn-primary' %>
	</div>
<% end %>
